.library-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: absolute;
    background-image: url('../Assets/stones/lightyellow.jpg');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.content-container {
    width: 70%;
    text-align: center;
    z-index: 1;
}

.slider-container {
    margin-top: 50px;
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Ensure child elements do not overflow */
}

.slide-content {
    position: relative;
    padding-bottom: 20px; /* Add some padding for the description */
}

.slide-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust transparency as needed */
}

.slide-content p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; /* Adjust font size as needed */
    text-align: center;
}

.slide-description {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    text-align: center;
    width: 80%; /* Adjust width as needed */
}

.controls {
    margin-top: 20px;
}

.control-button {
    margin: 0 10px;
}
